@import 'https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap';

* {
    font-family: 'Poppins', sans-serif;
}

:root {
    --primary-color: #647eff;
    --secondary-color: #42d392;
    --background-color: #202020;
}

body {
    padding: 0;
    margin: 0;
    background: var(--background-color);
    background-size: 200% 200%;
    animation: background-change 5s linear infinite;
    text-align: center;
    overflow-x: hidden;
}

p {
    margin: 0;
    padding: 0;
}

.page-wrapper {
    position: relative;
    min-height: 100vh;
}

header * {
    text-align: center;
    color: #FFF;
}

header h1 {
    padding-top: 50px;
    font-weight: bold;
    font-size: 5rem;
}

.logo {
    padding: 50px;
    transition: filter .3s;
    filter: drop-shadow(0 0 5px var(--secondary-color));
}

.logo:hover {
    transition: filter .3s;
    filter: drop-shadow(0 0 15px var(--secondary-color));
}

section {
    padding-bottom: 60vh;
    margin-bottom: -60vh;
}

.divider {
    user-select: none;
    pointer-events: none;
}

.gradient-bg {
    color: transparent;
    background: linear-gradient(45deg, var(--primary-color), var(--secondary-color));
    -webkit-background-clip: text;
    background-clip: text;
    font-weight: bolder;
}

.bi {
    font-size: 30px;
    padding: 15px;
}

.blue {
    background: #0099ff;
}

.cyan {
    background: #00cba9;
}

.pink {
    background: #e7008a;
}

.black {
    background: var(--background-color);
}

.footer {
    position: absolute;
    bottom: 0;
    color: #FFF;
    padding: 0;
    margin: 0;
    width: 100%;
}

.footer section {
    padding: 0;
    margin: 0;
    bottom: 0;
}

footer {
    background: var(--background-color);
}

#go-to-top {
    position: fixed;
    bottom: 50px;
    right: 20px;
    border-radius: 50%;
    background: #FFF;
    z-index: 100;
    width: 70px;
    height: 70px;
    border: 0;
    
}

.hidden {
    display: none;
}

footer a, a:active, a:link, a:visited {
    color: white;
}

.copyright a {
    color: #0099ff;
}

.carousel {
    width: 100%;
}


.carousel img {
    width: 300px;
}